.video-container {
    padding-inline: var(--container-padding-inline);
}

.video {
    max-width: 75rem;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .video p {
        margin-top: 3rem;
    }
}

.video-frame {
    width: 100%;
    max-width: 60rem;
    margin-block: 1.5rem;
    border-radius: 15px;
    overflow: hidden;
    background: var(--color-bg-light-green);

    cursor: pointer;
    box-shadow:
        0 25px 50px -12px rgba(0, 0, 0, 0.5),
        0 10px 20px -8px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media (min-width: 768px) {
        margin-block: 5rem;
    }
}

.video-frame:hover {
    transform: scale(1.01);
    box-shadow:
        0 35px 60px -12px rgba(64, 192, 160, 0.5),
        0 15px 25px -8px rgba(0, 0, 0, 0.7);
}

.video-frame-bar {
    padding: 0.5rem 0.5rem;
    background: var(--color-bg-light-green);
}

.video-frame-title {
    margin-left: 1rem;
    font-family: 'Palanquin', sans-serif;
    font-size: clamp(1rem, 0.857rem + 0.714vi, 1.25rem);
    color: var(--color-text-main);
}

.text-container {
    padding-inline: var(--container-padding-inline);

    .text-seperate {
        padding-block: 1.5rem;
    }

    span {
        font-family: 'Palanquin', sans-serif;
        font-weight: 700;
    }
}

.text {
    max-width: 75rem;
    margin-inline: auto;
}

.text-list {
    color: var(--color-secondary-brown);
    font-family: 'Palanquin', sans-serif;
    font-size: clamp(1rem, 0.855rem + 0.8vi, 1.5rem);

    li::marker {
        font-size: 0.6em;
    }

    @media (min-width: 768px) {
        color: var(--color-text-main);
    }
}

.facts-container {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-inline: var(--container-padding-inline);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    p {
        max-width: 75rem;
        margin-inline: auto;
    }

    @media (min-width: 768px) {
        padding-block: 5.5rem;
    }
}

.facts {
    width: 100%;
    max-width: 68rem;
    margin-top: 4.25rem;

    background-color: var(--color-bg-light-green);
    border-radius: 30px;
    padding: 1rem 1.5rem;

    position: relative;

    @media (min-width: 768px) {
        margin-top: 3.25rem;
        margin-left: 3.25rem;
        width: calc(100% - 3.25rem);
    }
}

.facts-badge {
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;

    color: var(--color-primary-yellow);
    background-color: var(--color-primary-green);
    padding: 0.5rem 1.25rem;
    border-radius: 12px;

    display: flex;
    gap: 0.5rem;
    rotate: -12deg;

    position: absolute;
    top: -4.25rem;
    left: 0.3rem;

    img {
        rotate: 12deg;
    }

    @media (min-width: 768px) {
        top: -3.25rem;
        left: -3.25rem;
    }
}

.facts-list {
    font-family: 'Palanquin', sans-serif;
    font-size: 1rem;
    color: var(--color-secondary-brown);

    margin: 0;
    padding-left: 1.25rem;

    a {
        font-weight: 700;
        color: var(--color-primary-green);
        text-decoration: none;
    }

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
}