.text-container {
    padding-inline: var(--container-padding-inline);

    .text-seperate {
        padding-block: 1.5rem;
    }

    span {
        font-family: 'Palanquin', sans-serif;
        font-weight: 700;
    }
}

.text {
    max-width: 75rem;
    margin-inline: auto;
}

.text-list {
    color: var(--color-secondary-brown);
    font-family: 'Palanquin', sans-serif;
    font-size: clamp(1rem, 0.855rem + 0.8vi, 1.5rem);

    /* für punkte der ul */
    li::marker {
        font-size: 0.6em;
    }

    @media (min-width: 768px) {
        color: var(--color-text-main);
    }
}



/* .top-five-desktop {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    @media (max-width: 768px) {
        display: none;
    }
} */

.top-five-desktop {
    padding-inline: var(--container-padding-inline);


    @media (max-width: 768px) {
        display: none;
    }
}

.top-five {
    max-width: 68.75rem;
    margin-inline: auto;
    padding: 3.75rem;
}

h3 {
    font-family: 'Arima', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-secondary-brown);
    text-align: center;
    padding: clamp(1rem, 5vw, 3rem);

    @media (max-width: 768px) {
        font-size: 1.25rem;
    }
}

.carousel-wrapper-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 6rem 3rem;
}

.slider_b-desktop {
    height: 18.75rem;
    max-width: 100%;
    display: flex;
}

.slider_b-desktop img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.slider_b_element-desktop:first-child {
    margin-left: auto;
}

.slider_b_element-desktop:nth-child(1) img {
    object-position: 60% 100%;
}

.slider_b_element-desktop:nth-child(2) img {
    object-position: 50% 100%;
}

.slider_b_element-desktop:nth-child(3) img {
    object-position: 10% 100%;
}

.slider_b_element-desktop:nth-child(4) img {
    object-position: 40% 100%;
}

.slider_b_element-desktop:nth-child(5) img {
    object-position: 40% 100%;
}

.slider_b_element-desktop {
    z-index: 1;
    width: 12.5rem;
    height: 18.75rem;
    margin-left: -3.75rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0rem 0rem 3rem 0rem rgba(0, 0, 0, 0.3);
    transform: perspective(15.5rem) rotateY(20deg) translateX(-1.25rem);
    transform-origin: 50% 50%;
    transition: all 150ms ease-in-out;
}

.slider_b_element-desktop:hover {
    z-index: 2;
    transform: perspective(15.5rem) rotateY(0deg) translateX(0rem) scaleX(1.5) scaleY(1.5);
}

.slider_b_element-desktop:hover ~ .slider_b_element-desktop {
    transform: perspective(15.5rem) rotateY(-20deg) translateX(1.25rem);
}

.top-five-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;

    @media (min-width: 769px) {
        display: none;
    }
}


.slider_mobile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    width: 43.75rem;
    max-width: 100%;
    margin: 0 auto;
}

.slider_mobile {
    position: relative;
    width: clamp(13.75rem, 65vw, 22rem);
    height: clamp(25rem, 120vw, 41rem);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider_mobile_wrapper {
    z-index: 1;
    width: 500%;
    height: calc(100% - 3rem);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: all 1s ease-in-out;
}

.slider_mobile input {
    z-index: 2;
    padding: 1.25rem;
    appearance: none;
    border-radius: 50%;
    background-color: var(--color-bg-light-green);
    cursor: pointer;
    transform: scale(0.75);
}

.slider_mobile input:checked {
    width: 3rem;
    border-radius: 3rem;
    background-color: var(--color-primary-green);
}

.slider_mobile_element {
    width: calc(100% / 5);
    height: 100%;
    position: relative;
    box-sizing: border-box;
    transform-origin: center center;
    transition: transform 300ms ease-in-out;
}

.slider_mobile_element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0rem 1.25rem 2rem 0rem rgba(0, 0, 0, 0.2);
}

.element_one img {
    object-position: 60% 100%;
}

.element_two img {
    object-position: 50% 100%;
}

.element_three img {
    object-position: 20% 100%;
}

.element_four img {
    object-position: 35% 100%;
}

.element_five img {
    object-position: 40% 100%;
}

.slider_mobile input[value="one"]:checked ~ .slider_mobile_wrapper {
    transform: translateX(calc(100% / 5*0));
}

.slider_mobile input[value="two"]:checked ~ .slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 1));
}

.slider_mobile input[value="three"]:checked ~ .slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 2));
}

.slider_mobile input[value="four"]:checked ~ .slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 3));
}

.slider_mobile input[value="five"]:checked ~ .slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 4));
}

.slider_mobile input[value="one"]:checked ~ .slider_mobile_wrapper .element_two {
    transform: perspective(15.5rem) rotateY(-20deg) translateX(0.3rem) scale(0.9);
}

.slider_mobile input[value="two"]:checked ~ .slider_mobile_wrapper .element_one {
    transform: perspective(15.5rem) rotateY(20deg) translateX(-0.3rem) scale(0.9);
}

.slider_mobile input[value="two"]:checked ~ .slider_mobile_wrapper .element_three {
    transform: perspective(15.5rem) rotateY(-20deg) translateX(0.3rem) scale(0.9);
}

.slider_mobile input[value="three"]:checked ~ .slider_mobile_wrapper .element_two {
    transform: perspective(15.5rem) rotateY(20deg) translateX(-0.3rem) scale(0.9);
}

.slider_mobile input[value="three"]:checked ~ .slider_mobile_wrapper .element_four {
    transform: perspective(15.5rem) rotateY(-20deg) translateX(0.3rem) scale(0.9);
}

.slider_mobile input[value="four"]:checked ~ .slider_mobile_wrapper .element_three {
    transform: perspective(15.5rem) rotateY(20deg) translateX(-0.3rem) scale(0.9);
}

.slider_mobile input[value="four"]:checked ~ .slider_mobile_wrapper .element_five {
    transform: perspective(15.5rem) rotateY(-20deg) translateX(0.3rem) scale(0.9);
}

.slider_mobile input[value="five"]:checked ~ .slider_mobile_wrapper .element_four {
    transform: perspective(15.5rem) rotateY(20deg) translateX(-0.3rem) scale(0.9);
}

.facts-container {
    padding-block: 2rem;
    padding-inline: var(--container-padding-inline);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    p {
        max-width: 75rem;
        margin-inline: auto;
    }

    @media (min-width: 768px) {
        padding-block: 5.5rem;
    }
}

.facts {
    width: 100%;
    max-width: 71.5rem;
    margin-top: 4.25rem;

    background-color: var(--color-bg-light-green);
    border-radius: 2rem;
    padding: 1rem 1.5rem;

    position: relative;

    @media (min-width: 768px) {
        margin-top: 3.25rem;
        margin-left: 3.25rem;
        width: calc(100% - 3.25rem);
    }
}

.facts-badge {
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;

    color: var(--color-primary-yellow);
    background-color: var(--color-primary-green);
    padding: 0.5rem 1.25rem;
    border-radius: 0.75rem;

    display: flex;
    gap: 0.5rem;
    rotate: -12deg;

    position: absolute;
    top: -4.25rem;
    left: 0.3rem;

    img {
        rotate: 12deg;
    }

    @media (min-width: 768px) {
        top: -3.25rem;
        left: -3.25rem;
    }
}

.facts-list {
    font-family: 'Palanquin', sans-serif;
    font-size: 1rem;
    color: var(--color-secondary-brown);

    margin: 0;
    padding-left: 1.25rem;

    a {
        font-weight: 700;
        color: var(--color-primary-green);
        text-decoration: none;
    }

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
}