.top-five-desktop {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    @media (max-width: 1000px) {
        display: none;
    }
}



h3 {
    font-family: 'Arima', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--color-secondary-brown);
    text-align: center;
    padding: clamp(16px, 5vw, 50px);

    @media (max-width: 1000px) {
        font-size: 20px;
    }
}

.carousel-wrapper-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px 50px 100px;
}

.slider_b-desktop {
    height: 300px;
    display: flex;
}

.slider_b-desktop img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.slider_b_element-desktop:nth-child(1) img {
    object-position: 60% 100%;
}

.slider_b_element-desktop:nth-child(2) img {
    object-position: 50% 100%;
}

.slider_b_element-desktop:nth-child(3) img {
    object-position: 10% 100%;
}

.slider_b_element-desktop:nth-child(4) img {
    object-position: 40% 100%;
}

.slider_b_element-desktop:nth-child(5) img {
    object-position: 40% 100%;
}

.slider_b_element-desktop {
    z-index: 1;
    width: 200px;
    height: 300px;
    margin-left: -60px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.3);
    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    transition: all 150ms ease-in-out;
}

.slider_b_element-desktop:hover {
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5) scaleY(1.5);
}

.slider_b_element-desktop:hover~.slider_b_element-desktop {
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}















.top-five-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;

    @media (min-width: 1001px) {
        display: none;
    }

}


.slider_mobile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow: hidden;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.slider_mobile {
    position: relative;
    width: clamp(220px, 65vw, 350px);
    height: clamp(400px, 120vw, 650px);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider_mobile_wrapper {
    z-index: 1;
    width: 500%;
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: all 1s ease-in-out;
}

.slider_mobile input {
    z-index: 2;
    padding: 20px;
    appearance: none;
    border-radius: 50%;
    background-color: var(--color-bg-light-green);
    cursor: pointer;
    transform: scale(0.75);
}

.slider_mobile input:checked {
    width: 50px;
    border-radius: 50px;
    background-color: var(--color-primary-green);
}

.slider_mobile_element {
    width: calc(100% / 5);
    height: 100%;
    position: relative;
    box-sizing: border-box;
    transform-origin: center center;
    transition: transform 300ms ease-in-out;
}

.slider_mobile_element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 20px 32px 0px rgba(0, 0, 0, 0.2);
}

.element_one img {
    object-position: 60% 100%;
}

.element_two img {
    object-position: 50% 100%;
}

.element_three img {
    object-position: 20% 100%;
}

.element_four img {
    object-position: 35% 100%;
}

.element_five img {
    object-position: 40% 100%;
}

.slider_mobile input[value="one"]:checked~.slider_mobile_wrapper {
    transform: translateX(calc(100% / 5*0));
}

.slider_mobile input[value="two"]:checked~.slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 1));
}

.slider_mobile input[value="three"]:checked~.slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 2));
}

.slider_mobile input[value="four"]:checked~.slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 3));
}

.slider_mobile input[value="five"]:checked~.slider_mobile_wrapper {
    transform: translateX(calc(-100% / 5 * 4));
}


.slider_mobile input[value="one"]:checked~.slider_mobile_wrapper .element_two {
    transform: perspective(250px) rotateY(-20deg) translateX(5px) scale(0.9);
}

.slider_mobile input[value="two"]:checked~.slider_mobile_wrapper .element_one {
    transform: perspective(250px) rotateY(20deg) translateX(-5px) scale(0.9);
}

.slider_mobile input[value="two"]:checked~.slider_mobile_wrapper .element_three {
    transform: perspective(250px) rotateY(-20deg) translateX(5px) scale(0.9);
}

.slider_mobile input[value="three"]:checked~.slider_mobile_wrapper .element_two {
    transform: perspective(250px) rotateY(20deg) translateX(-5px) scale(0.9);
}

.slider_mobile input[value="three"]:checked~.slider_mobile_wrapper .element_four {
    transform: perspective(250px) rotateY(-20deg) translateX(5px) scale(0.9);
}

.slider_mobile input[value="four"]:checked~.slider_mobile_wrapper .element_three {
    transform: perspective(250px) rotateY(20deg) translateX(-5px) scale(0.9);
}

.slider_mobile input[value="four"]:checked~.slider_mobile_wrapper .element_five {
    transform: perspective(250px) rotateY(-20deg) translateX(5px) scale(0.9);
}

.slider_mobile input[value="five"]:checked~.slider_mobile_wrapper .element_four {
    transform: perspective(250px) rotateY(20deg) translateX(-5px) scale(0.9);
}