.graphs-container {
  padding-inline: var(--container-padding-inline);
  background: #ffffff;
}

.graphs-inner {
  max-width: 75rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.section-heading {
  color: var(--color-secondary-brown);
  font-family: 'Arima', sans-serif;
  font-size: clamp(1.25rem, 1.036rem + 1.071vi, 2rem);
  font-weight: 600;
  text-align: center;
  margin-block: 2rem 1.5rem;
}

.lorem {
  padding-bottom: 1rem;
  font-size: clamp(1rem, 0.857rem + 0.714vi, 1.5rem);
}


.graph-wrap {
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.25rem;
  box-shadow: -2px 4px 11.6px rgba(0, 0, 0, 0.25);

  margin-inline: auto;
  max-width: 37.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-block-top .graph-wrap {
  margin-bottom: 2rem;
}

.graph-block-bottom {
  margin-block: 2rem 1.5rem;
}

.graph-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 30px;

}

.graph-columns {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin: auto;
}

.graph-columns .graph-wrap {
  aspect-ratio: 1 / 1;
  max-width: 25rem;
}


@media (min-width: 768px) {
  .graph-columns {
    flex-direction: row;
    gap: 5rem;
  }

  .graph-img {
    border-radius: 53px;
  }

  .graph-column {
    flex: 1 1 0;
  }

  .graph-block-top .graph-wrap {
    max-width: 40rem;
    margin-bottom: 5.5rem;
  }

  .graph-columns .graph-wrap {
    max-width: 31.25rem;
  }

  .graph-column .lorem {
    margin-inline: auto;
    max-width: 31rem;
  }

  .graph-block-top .section-heading {
    margin-top: 5.5rem;
  }

  .graph-block-top p:first-child {
    margin-top: 3rem;
  }
}