/* #region css reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    min-height: 100vh;
    min-height: 100dvh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* #endregion */

:root {

    /*  header (bg), footer (bg), titles, buttons (bg), icons (mobile-nav), */
    --color-primary-green: #4EA487;

    /* hero-bg, mobile-nav (bottom), faq, buttons (text) */
    --color-primary-yellow: #F1C953;

    /*  author box, pro tipps-box, contact form(?) (20% opacity?) */
    --color-bg-light-green: #4EA48733;

    /* text (only paragraphs?) */
    --color-text-main: #3D3D3D;

    /* date, reading time, read, shared, author text */
    --color-secondary-brown: #54370D;
}

/* ab hier coden */
/* BEISPIEL {
    background-color: var(--color-primary-yellow)
} */

h2 {
    color: var(--color-primary-green);
}


p {
    color: var(--color-secondary-brown);

    @media (min-width: 768px) {
        color: var(--color-text-main);
    }
}




/* HEADER UND FOOTER HIER 





































*/