/* SELIM HEADER + NAVBAR UND FOOTER + NAVBAR KOMMT IN global.css   
*/






/* ALICE HERO UND CAROUSEL CSS
















































*/





/* SELIM FAQ CSS




















































*/



.contact {
    color: var(--color-secondary-brown);

    p {
        display: none;
    }
}

.section-title {
    font-family: 'Arima', sans-serif;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.contact-form input, textarea {
    width: 100%;
    max-width: 375px;
    border: none;
    border-bottom: 1px solid var(--color-secondary-brown);
    padding: 0.5rem 0;
}